<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/synth-shop.png"
             class="img-responsive center-block"
             style="max-height:350px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Javier Moreno</h3>
      </div>

      <div class="text-center">@javiermorenoutnfrba</div>
      <div class="text-center">
        <a href="https://www.linkedin.com/in/javier-moreno-5501b519/">Linkedin Profile</a>
      </div>
    </div>
  </div>
</div>